* {
  box-sizing: border-box;
}


body {
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
}


p {
  margin: 0;
}

form {
  margin: 0;
  border: none;
}

fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

input {
  border: none;
}

.checkbox {
  border: 0;
}

.container {
  max-width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}