.product {
  position: relative;
  min-width: 1000px;
  margin: 0 auto;
  color: #25213B;
  overflow-x: auto;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
}

.table__title-box {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 20px 0px 20px;
  margin-bottom: 30px;
  max-width: 1100px;
}

.table__title-box::after {
  position: absolute;
  content: "";
  left: 0;
  top: 113px;
  width: 100%;
  height: 1px;
  background-color: #C6C2DE;
  z-index: 5;
}

.table__title {
  padding-right: 20px;
}

.title__text {
  font-size: 14px;
  line-height: 17px;
  text-transform: none;
  font-weight: 400;
  color: #25213B;
}

.title__subtext {
  font-weight: 600;
  color: #6D5BD0;
}


.filter__button {
  position: relative;
  margin-right: 20px;
  font-size: 16px;
  line-height: 19px;
  padding: 10px 10px 10px 40px;
  border: 1px solid #C6C2DE;
  border-radius: 6px;
  cursor: pointer;
}

.filter__button::after {
  content: "";
  position: absolute;
  background-image: url("../images/icon/filter.svg");
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  top: 11px;
  left: 11px;
}

.product__table {
  width: 100%;
  border-spacing: 0;
}

.search-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 70px;
  max-width: 1100px;
  padding: 5px 20px;
  gap: 5px;
  background-color: #fff;
  border-radius: 8px 8px 0 0;
  box-shadow: -1px 0px 6px rgba(0, 0, 0, 0.25);
}

.search-box:last-child {
  display: flex;
  justify-content: end;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-right: 20px;
}

.filter__search {
  position: relative;
  min-width: 305px;
  background-color: #F4F2FF;
  font-size: 12px;
  line-height: 15px;
  padding: 13px 40px;
  border-radius: 6px;
  outline: none;
}

.filter__search::placeholder {
  color: #6E6893;
}

.search__input-box {
  position: relative;
}

.search__input-box::before {
  content: "";
  position: absolute;
  background-image: url("../images/icon/search.svg");
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  top: 9px;
  left: 11px;
  z-index: 10;
}

.table-button {
  position: relative;
  display: inline-block;
  padding: 10px 25px;
  border: none;
  background-color: #6D5BD0;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 0;
  margin-left: auto;
}


.product__head tr {
  border: 1px solid #D9D5EC;
}

.product__body {
  background-color: #fff;
}

.product__table td {
  border-bottom: 1px solid #D9D5EC;
}

.product__table th {
  border-bottom: 1px solid #D9D5EC;
}

.product__table {
  border: 1px solid #D9D5EC;
}

.product__table {
  border-bottom: none;
}

/* .product__table th {
  border: 2px solid #000;
} */

.product__head {
  background-color: #F4F2FF;
  color: #6E6893;
  text-align: left;
  height: 45px;
  text-transform: uppercase;
}

.product__head th {
  padding-left: 10px;
}

.product__body tr {
  height: 60px;
  text-align: center;
}

.nav-box {
  display: flex;
  justify-content: flex-end;
  max-width: 1100px;
  padding-right: 20px;
  height: 45px;
  font-size: 12px;
  line-height: 15px;
  background-color: rgba(244, 242, 255, 1);
  border: 0 0 8px 8px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
}

.nav__select-colpages {
  display: flex;
  align-items: center;
}

.nav__select-text {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.pagination__text {
  margin-right: 50px;
}

.pagination-pages {
  display: flex;
  justify-content: space-between;
  width: 62px;
}

.span-left,
.span-right {
  position: relative;
}

.span-left::after {
  content: "";
  position: absolute;
  background-image: url('../images/icon/arrow-left.svg');
  width: 6px;
  height: 10px;
  left: 0;
  top: -5px;
  background-repeat: no-repeat;
  background-position: center;
}

.span-right::after {
  content: "";
  position: absolute;
  background-image: url('../images/icon/arrow-right.svg');
  width: 6px;
  height: 10px;
  left: 0;
  top: -5px;
  background-repeat: no-repeat;
  background-position: center;
}