@import "fonts.css";
@import "normalize.css";
@import "global.css";


.modal__window {
  position: relative;
  padding: 30px 106px 70px;
  max-width: 792px;
  margin: 0 auto;
  background-color: #F4F2FF;
  color: #6E6893;
  text-transform: uppercase;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.modal__title {
  font-family: 'Inter-Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 10%;
  margin: 0 0 40px 0;
}

.button__closed {
  background-image: url("/images/icon/close.svg");
  position: absolute;
  width: 25px;
  height: 25px;
  right: 30px;
  top: 20px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-position: 0 0;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 5;
}

.modal__form {
  position: relative;
  padding: 30px 30px 0;
  margin-bottom: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
}

.form__label {
  margin-bottom: 5px;
  display: block;
  font-size: 12px;
  font-weight: 600;

}

.form__fieldset {
  margin: 0;
  border: none;
}

.input__text {
  display: inline;
  padding: 0px 2%;
  margin-bottom: 12px;
  height: 40px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: #F4F2FF;
  transition: all 0.3s;
}

.input__text_right {
  float: right;
  max-width: 90%;
  background-color: #eee;
  /* display: inline-block;
  padding: 0px 2%;
  margin-bottom: 12px;
  height: 40px;
  width: 80%;
  border: none;
  border-radius: 6px;
  background-color: #F4F2FF;
  transition: all 0.3s; */
}

/* .form__checkbox {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 0;
  outline: 0;
} */

.form__checkbox {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #F4F2FF;
  border-radius: 6px;
  border: none;
}

.form__checkbox_style:checked+.form__checkbox_style:before {
  position: absolute;
  content: "";
  width: 40px;
  height: 40px;
  background-image: url("../images/icon/check.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: none;
}

.form__textarea {
  padding: 5px 2%;
  border: none;
  resize: none;
  width: 100%;
  margin-bottom: 12px;
  background-color: #F4F2FF;
  transition: all 0.3s;
}

.form__checkbox:hover,
.input__text:hover,
.form__textarea:hover {
  box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.2);
  outline: none;
}

.form__checkbox:focus,
.input__text:focus,
.form__textarea:focus {
  box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.5);
  outline: none;
}

.submit {
  position: absolute;
  padding: 10px 25px;
  right: 30px;
  bottom: -65px;
  border: none;
  background-color: #6D5BD0;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
}