@import "fonts.css";
@import "normalize.css";
@import "global.css";
@import "product.css";

.modal {
  position: relative;
  padding: 30px 106px;
  max-width: 792px;
  margin: 0 auto;
  background-color: #F4F2FF;
  color: #6E6893;
  text-transform: uppercase;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}


.title {
  position: relative;
  font-family: 'Inter-Bold', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 10%;
  color: #6E6893;
}

.table__title {
  padding-top: 80px;
  margin-bottom: 30px;
}

.modal__title {
  margin-bottom: 40px;
}

.title::after {
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #C6C2DE;
  z-index: 5;
}

.modal__title::after {
  top: 50px;
}

.table__title::after {
  top: 117px;
}

.modal__close {
  background-image: url("../images/icon/close.svg");
  position: absolute;
  width: 25px;
  height: 25px;
  right: 30px;
  top: 20px;
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-position: 0 0;
  background-color: transparent;
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 5;
}

.form {
  position: relative;

}

.form__label {
  padding-left: 10px;
  margin-bottom: 5px;
  display: block;
  font-size: 12px;
  font-weight: 600;

}

.form__fieldset {
  text-align: left;
  margin: 0;
  border: none;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.20);
  margin-bottom: 30px;
}

.form__fieldset-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  column-gap: 24px;
  margin-bottom: 15px;
}

.form__box--description {
  grid-row: span 2;
}


.form__input {
  display: block;
  padding: 11px;
  font-size: 16px;
  line-height: 1.125;
  margin: 0 0 12px;
  width: 100%;
  border: none;
  border-radius: 6px;
  background-color: #F4F2FF;
  transition: all 0.3s;
  resize: none;
}

.form__input:disabled {
  background-color: #eee;
}

.form__input:last-child {
  margin: 0;
}

.form__optional-input {
  position: relative;
  padding: 0 0 0 50px;
  margin-bottom: 12px;
}

.form__checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  top: 0;
  left: 0;
}

.form__checkbox:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.form__checkbox:after {
  content: '';
  position: absolute;
  top: 12px;
  left: 10px;
  width: 20px;
  height: 10px;
  border: 3px solid black;
  border-top: none;
  border-right: none;
  opacity: 0;
  transform: rotate(-45deg);
}

.form__checkbox:focus-visible {
  outline: none
}

.form__checkbox:checked:after {
  opacity: 1
}

.form__checkbox:focus:before {
  box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.5);
}

.form__checkbox:hover:not(:disabled):before {
  box-shadow: 0px 0px 10px rgba(0, 113, 227, 0.5);
}

.form__checkbox:disabled:before {
  background-color: #cccccc;
}


.form__input:focus {
  outline: none;
}

.form__submit-box {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.form__submit {
  position: relative;
  padding: 10px 25px;
  border: none;
  background-color: #6D5BD0;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

.form__submit--img {
  float: right;
  font-size: 14px;
  line-height: 17px;
  padding: 11px 28px;
}

.form__text {
  font-size: 14px;
  line-height: 17px;
  text-transform: none;
  font-weight: 400;
}

.form__subtext {
  font-weight: 600;
  color: #6D5BD0;
}

.error {
  display: none;
  position: absolute;
  width: 350px;
  height: 350px;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  line-height: 22px;
  font-weight: 700;
  color: #6E6893;
  background-color: #F2F0F9;
  left: 50%;
  top: 170px;
  padding-top: 232px;
  transform: translateX(-50%);
  background-image: url(../images/icon/error-img.svg);
  background-position: center;
  background-size: 90px;
  background-repeat: no-repeat;
}